{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans 'Home' %}
{% endblock %}

{% block content %}

    {% include 'includes/abou.html' %}

    {% include 'includes/numbers.html' %}

    {% include 'includes/services.html' %}

    <div id="pricing" class="section md-padding">
        {% for service in services %}
            {% if service.publish_pricing %}
                <div class="row">
                    {% include 'services/price/princing_include.html' %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% include 'includes/contact_us.html' %}

{% endblock %}
