{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans 'Home' %}
{% endblock %}

{% block content %}

    <!-- why choose us content -->
    <div id="about" class="section md-padding bg-grey">
        <div class="container">
            <div class="col-md-6">
                <div class="section-header">
                    <h2 class="title">{% trans 'Why Choose Sharp4IT' %}</h2>
                </div>
                <p>{% trans 'Sharp4IT is leading a new concept in the market; we are a Technology system integrator company that offers a wide range of technology to business consultation services covering the whole business lifecycle. From the company"s head office in Cairo-Egypt and a dedicated team of business analysis experts and technology consultants assisted by marketing and sales professionals offering an extensive portfolio for private sector corporates, public sector.' %}</p>
            </div>
            <!-- /why choose us content -->

            <!-- About slider -->
            <div class="col-md-6">
                <div id="about-slider" class="owl-carousel owl-theme">
                    <img class="img-responsive" src="{% static 'home/image/about1.jpg' %}" alt="">
                    <img class="img-responsive" src="{% static 'home/image/about2.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- /About slider -->


    <!-- Numbers -->
    <div id="numbers" class="section sm-padding">

        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('{% static 'home/image/background2.jpg' %}');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- number -->
                <div class="col-sm-3 col-xs-6">
                    <div class="number">
                        <i class="fa fa-users"></i>
                        <h3 class="white-text"><span class="counter">451</span></h3>
                        <span class="white-text">Happy clients</span>
                    </div>
                </div>
                <!-- /number -->

                <!-- number -->
                <div class="col-sm-3 col-xs-6">
                    <div class="number">
                        <i class="fa fa-trophy"></i>
                        <h3 class="white-text"><span class="counter">12</span></h3>
                        <span class="white-text">Awards won</span>
                    </div>
                </div>
                <!-- /number -->

                <!-- number -->
                <div class="col-sm-3 col-xs-6">
                    <div class="number">
                        <i class="fa fa-coffee"></i>
                        <h3 class="white-text"><span class="counter">154</span>K</h3>
                        <span class="white-text">Cups of Coffee</span>
                    </div>
                </div>
                <!-- /number -->

                <!-- number -->
                <div class="col-sm-3 col-xs-6">
                    <div class="number">
                        <i class="fa fa-file"></i>
                        <h3 class="white-text"><span class="counter">45</span></h3>
                        <span class="white-text">Projects completed</span>
                    </div>
                </div>
                <!-- /number -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Numbers -->


    <!-- services -->
    <div id="services" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">{% trans 'Our Services' %}</h2>
                </div>
                <!-- /Section header -->
                {% for service in published_services|slice:'0:3' %}
                    <!-- about -->
                    <div class="col-md-4">
                        <div class="about">
                            <i class="fa fa-{% cycle 'columns' 'magic' 'envelope' 'mobile' %}"></i>
                            <h3>{% if request.LANGUAGE_CODE == 'ar' %}{{ service.ar_name }}{% else %}
                                {{ service.en_name }}{% endif %}</h3>
                            <p>{% if request.LANGUAGE_CODE == 'ar' %}
                                {{ service.ar_description|truncatechars:100|linebreaks }}{% else %}
                                {{ service.en_description|truncatechars:100|linebreaks }}{% endif %}</p>
                            <a href="{{ service.get_absolute_url }}">{% trans 'Read more' %}</a>
                        </div>
                    </div>
                    <!-- /about -->
                {% empty %}
                    <p class="text-center">{% trans 'No services published ...' %}</p>
                {% endfor %}
            </div>
            <!-- /Row -->
            {% if services.count > 3 %}
                <div class="row" style="padding: 30px"><p><a class="main-btn"
                                                             href="{% url 'service:list_create' %}">{% trans 'All services' %}</a>
                </p></div>
            {% endif %}
        </div>
        <!-- /Container -->

    </div>
    <!-- /services -->


    <div id="pricing" class="section md-padding">
        {% for service in services %}
            {% if service.publish_pricing %}
                <div class="row">
                    {% include 'services/price/princing_include.html' %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- Contact -->
    <div id="contact" class="section md-padding">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row"><!-- Section-header -->
                <div class="section-header text-center">
                    <h2 class="title">{% trans 'Get in touch' %}</h2>
                </div>
                <!-- /Section-header -->
                <!-- contact -->
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-phone"></i>
                        <h3>{% trans 'Phone' %}</h3>
                        <p>010-6676-3323</p>
                    </div>
                </div>
                <!-- /contact -->
                <!-- contact -->
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-envelope"></i>
                        <h3>{% trans 'Email' %}</h3>
                        <p>info@sharp4it.com</p>
                    </div>
                </div>
                <!-- /contact -->
                <!-- contact -->
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-map-marker"></i>
                        <h3>{% trans 'Address' %}</h3>
                        <p>{% trans '7, Ewais, Mansheya El-Bakry, Heliopolis, Cairo Governorate' %}</p>
                    </div>
                </div>
                <!-- /contact -->
                <!-- contact form -->
                <div class="col-md-6">
                    <form method="post"><br>
                        {% csrf_token %}
                        {{ contact_form.as_p }}
                        <button type="submit" class="main-btn">{% trans 'Send message' %}</button>
                    </form>
                </div>
                <!-- /contact form -->
                <div class="col-md-6"><br>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6903.663345198703!2d31.330666299999994!3d30.099006800000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fd2769a066d%3A0x3c2d91bb62a02b66!2sSharp4IT!5e0!3m2!1sar!2seg!4v1524166299916"
                                width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
    </div>
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->
    <!-- /Contact -->

{% endblock %}
