{% load staticfiles %}
{% load i18n %}
<!-- Footer -->
<footer id="footer" class="sm-padding bg-dark">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <div class="col-md-12">

                <!-- footer logo -->
                <div class="footer-logo">
                    <a href="{% if section != 'home' %}/{% endif %}#home"><img src="{% static 'home/image/logo.png' %}"
                                                                               alt="logo"></a>
                </div>
                <!-- /footer logo -->
                <!-- footer follow -->
                <ul class="footer-follow text-center">
                    <li><a href="https://www.facebook.com/SharpIT.co/" target="_blank"><i
                            class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCyyubUfx9Jjyt23r8qmD68Q/videos" target="_blank"><i
                            class="fa fa-youtube"></i></a></li>
                </ul>
                <!-- /footer follow -->
                <!-- footer copyright -->
                <div class="footer-copyright">
                    <p>{% trans 'Copyright © 2018. All Rights Reserved. Sharp4IT' %}</p>
                </div>
                <!-- /footer copyright -->
            </div>
        </div>
        <!-- /Row -->
    </div>
    <!-- /Container -->
</footer>
<!-- /Footer -->