{% load i18n %}
<!-- services -->
<div id="services" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">{% trans 'Our Services' %}</h2>
            </div>
            <!-- /Section header -->
            {% for service in published_services|slice:'0:3' %}
                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-{% cycle 'columns' 'magic' 'envelope' 'mobile' %}"></i>
                        <h3>{% if request.LANGUAGE_CODE == 'ar' %}{{ service.ar_name }}{% else %}
                            {{ service.en_name }}{% endif %}</h3>
                        <p>{% if request.LANGUAGE_CODE == 'ar' %}
                            {{ service.ar_description|truncatechars:100|linebreaks }}{% else %}
                            {{ service.en_description|truncatechars:100|linebreaks }}{% endif %}</p>
                        <a href="{{ service.get_absolute_url }}">{% trans 'Read more' %}</a>
                    </div>
                </div>
                <!-- /about -->
            {% empty %}
                <p class="text-center">{% trans 'No services published ...' %}</p>
            {% endfor %}
        </div>
        <!-- /Row -->
        {% if services.count > 3 %}
            <div class="row" style="padding: 30px"><p><a class="main-btn"
                                                         href="{% url 'service:list_create' %}">{% trans 'All services' %}</a>
            </p></div>
        {% endif %}
    </div>
    <!-- /Container -->

</div>
<!-- /services -->