{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    Delete
    {% if request.LANGUAGE_CODE == 'ar' %}{{ price.ar_price_title }}{% else %}{{ price.en_price_title }}{% endif %}
{% endblock %}

{% block content %}
    <div class="section md-padding bg-grey">
        <div class="container">
            <div class="row">
                <form method="post">
                    {% csrf_token %}
                    <h5>{% trans 'Are you sure You want to delete service' %}
                        {% if request.LANGUAGE_CODE == 'ar' %}{{ price.ar_price_title }}{% else %}
                            {{ price.en_price_title }}{% endif %}</h5>
                    <input class="btn btn-danger" type="submit" value="{% trans 'Delete' %}">
                    <a class="btn btn-default"
                       href="{% url 'service:detail' price.service.slug %}">{% trans 'Cancel' %}</a>
                </form>

            </div>
        </div>
    </div>
{% endblock %}

