{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans 'Services' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'services/css/style.css' %}">
{% endblock %}

{% block content %}
    <!-- Portfolio -->
    <div id="portfolio" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">{% trans 'Our Services' %}</h2>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="container">
                        <button data-toggle="modal" data-target="#serviceFormModal" class="btn btn-primary"><i
                                class="fa fa-plus"></i> {% trans 'Add Service' %}</button>
                    </div>
                    <hr>
                    {% include 'services/service/modal.html' %}
                {% endif %}
                <!-- /Section header -->
                {% for service in services %}
                    <!-- Work -->
                    <div class="col-md-4 col-xs-6 work">
                        <img style="max-width: 600px;max-height: 600px" class="img-responsive" src="








                                {% if service.image %}{{ service.image.url }}{% else %}{% static 'services/image/blog1.jpg' %}{% endif %}"
                             alt=""/>
                        <div class="overlay"></div>
                        <div class="work-content">
                            {#                            <span>Category</span>#}
                            <h3>{% if request.LANGUAGE_CODE == 'ar' %}{{ service.ar_name }}{% else %}
                                {{ service.en_name }}{% endif %}</h3>
                            <div class="work-link">
                                {% if request.user.is_authenticated %}
                                    <a class="btn btn-danger text-danger"
                                       href="{% url 'service:delete' service.slug %}"><i class="fa fa-trash"></i></a>
                                {% endif %}
                                <a class="btn btn-info text-info" href="{{ service.get_absolute_url }}"><i
                                        class="fa fa-info"></i></a>
                                <a class="btn btn-primary lightbox" href="









                                        {% if service.image %}{{ service.image.url }}{% else %}{% static 'services/image/blog1.jpg' %}{% endif %}"><i
                                        class="fa fa-image text-primary"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- /Work -->
                {% empty %}
                {% endfor %}
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Portfolio -->
{% endblock %}