{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% if request.LANGUAGE_CODE == 'ar' %}{% with post.ar_title as ar_name %}{{ ar_name }}{% endwith %}{% else %}
        {% with post.en_title as en_name %}{{ en_name }}{% endwith %}{% endif %}
{% endblock %}

{% block content %}
    <div class="header-wrapper sm-padding bg-grey">
        <div class="container">
            <div class="col-md-6 {% if request.LANGUAGE_CODE == 'ar' %}pull-right{% endif %}">
                <h2>{% if request.LANGUAGE_CODE == 'ar' %}{{ post.ar_title }}{% else %}
                    {{ post.en_title }}{% endif %}</h2>
            </div>
            <div class="col-6">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'service:list_create' %}">
                        {% trans 'All services' %}</a>
                    </li>
                    <li class="breadcrumb-item"><a href="{{ service.get_absolute_url }}">
                        {% if request.LANGUAGE_CODE == 'ar' %}{{ service.ar_name }}{% else %}
                            {{ service.en_name }}{% endif %}</a>
                    </li>
                    <li class="breadcrumb-item active">
                        {% if request.LANGUAGE_CODE == 'ar' %}{{ post.ar_title }}{% else %}
                            {{ post.en_title }}{% endif %}</li>
                </ul>
            </div>
        </div>
        {% if request.user.is_authenticated %}
            <br>
            <div class="container">
                <button data-toggle="modal" data-target="#postFormModal" class="btn btn-warning"><i
                        class="fa fa-edit"></i> {% trans 'Edit' %}</button>
                {% include 'services/post/modal.html' %}
                <a class="btn btn-danger" href="{% url 'post:post_delete' post.slug %}"><i
                        class="fa fa-trash"></i> {% trans 'Delete' %}</a>
            </div>
        {% endif %}
    </div>

    <div id="blog" class="section md-padding">
        <!-- Row -->
        <div class="container-fluid">
            <!-- Main -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src="
                {% if post.image %}{{ post.image.url }}{% else %}{% static 'services/image/blog1.jpg' %}{% endif %}"/>
                    </div>
                    <div class="text-justify col-md-6">
                        <h3>{% if request.LANGUAGE_CODE == 'ar' %}{% with post.ar_title as ar_name %}{{ ar_name }}
                        {% endwith %}{% else %}
                            {% with post.en_title as en_name %}{{ en_name }}{% endwith %}{% endif %}</h3>
                        <p>{% if request.LANGUAGE_CODE == 'ar' %}{% with post.ar_body as ar_description %}
                            {{ ar_description|safe }}{% endwith %}{% else %}
                            {% with post.en_body as en_description %}
                                {{ en_description|safe }}{% endwith %}{% endif %}</p>
                        <div class="fb-share-button" data-href="http://www.sharp4it.com{{ request.path }}"
                             data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank"
                                                                                                 href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.sharp4it.com{{ request.path }}%2F&amp;src=sdkpreparse"
                                                                                                 class="fb-xfbml-parse-ignore">{% trans 'Share' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Main -->


            <!-- Videos -->
            <div class="container">
                <br>
                <!-- Section header -->
                {% if post.videos.all %}
                    <div class="section-header text-center">
                        <h2 class="title">{% trans 'Videos' %}</h2>
                    </div>
                {% endif %}
                <!-- /Section header -->

                <!-- Video -->
                {% if request.user.is_authenticated %}
                    <div class="container-fluid">
                        <button data-toggle="modal" data-target="#postVideoFormModal" class="main-btn"><i
                                class="fa fa-file-video-o"></i> {% trans 'Add video' %}</button>
                        {% include 'services/videos/modal.html' %}
                    </div>
                {% endif %}
                <div class="col-md-6 col-md-offset-3">
                    <ul class="nav nav-tabs" role="tablist">
                        {% for video in post.videos.all %}
                            <li role="presentation" class="{% if forloop.first %}active{% endif %}">
                                <a href="#{{ video.video }}" aria-controls="{{ video.video }}" role="tab"
                                   data-toggle="tab">{{ video.en_video_name }}</a>
                            </li>
                        {% empty %}
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for video in post.videos.all %}
                            <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}"
                                 id="{{ video.video }}"><br>
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'video:delete' video.pk %}" class="text-danger"><i
                                            class="fa fa-trash"></i> {% trans 'Delete' %}</a><br>
                                {% endif %}
                                <iframe width="560" height="315"
                                        src="https://www.youtube.com/embed/{{ video.video }}"
                                        frameborder="0" allow="autoplay; encrypted-media"
                                        allowfullscreen></iframe>
                            </div>
                        {% empty %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Videos -->


            <!-- blog comments -->
            <div class="container">
                <div class="blog-comments">
                    {% if post.comments.all %}
                        <h3 class="title">({{ post.comments.count }}) Comment{{ post.comments.count|pluralize }}</h3>
                    {% endif %}
                    {% for comment in post.comments.all %}
                        <!-- comment -->
                        <div class="media author" style="border-radius: 7px;">
                            <div class="media-body">
                                <h4 class="media-heading">{{ comment.name }}
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'comment:comment_delete' comment.pk %}"
                                           class="reply text-danger">{% trans 'Remove' %} <i
                                                class="fa fa-trash"></i></a>
                                    {% endif %}
                                </h4>
                                <p>{{ comment.comment|linebreaks }}</p>
                            </div>
                        </div><br>
                    {% empty %}
                        {% if request.user.is_authenticated %}
                            <!-- blog comments -->
                            <div class="blog-comments text-center">
                                <div class="media-body">
                                    <p class="text-muted">{% trans 'No comments ...' %}</p>
                                </div>
                            </div>
                            <!-- /comment -->
                        {% endif %}
                        <div class="row">
                            <button data-toggle="modal" data-target="#postCommentFormModal" class="main-btn"><i
                                    class="fa fa-comment"></i> {% trans 'Comment' %}</button>
                            {% include 'services/comment/modal.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- /blog comments -->
        </div>
        <!-- /Row -->
        <br>
    </div>


{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}